<div class="pagination">
    <a href="{% url 'bookcovers:artist_artworks' view.artwork.artist.pk %}">all covers</a>
    <span class="step-links">
        {% if view.book_pager.has_previous %}
            <a href="?page=1">&laquo; first</a>
            {# up to here probably want to test for  artwork_edition for alternate next/previous #}
            <a href="../../artwork/{{ view.artwork.pk }}/?page={{ view.book_pager.previous_page_number }}">previous</a>
        {% else %}
            <p class="greyed" style="display:inline">&laquo; first previous</p>
        {% endif %}

        <span class="current">
            book {{ view.book_pager.number }} of {{ view.book_pager.paginator.num_pages }}.
        </span>

        {% if view.book_pager.has_next %}
            <a href="../../artwork/{{ view.artwork.pk }}/?page={{ view.book_pager.next_page_number }}">next</a>
            <a href="?page={{ view.book_pager.paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <p class="greyed" style="display:inline">next last &raquo;</p>
        {% endif %}
    </span>
</div>
