{% extends "bookcovers/base.html" %}

{% load static %}

{% block menu_pagers %}
{% include 'bookcovers/subject_pager.html' %}
{% include 'bookcovers/detail_pager.html' %}
{#  include 'bookcovers/cover_pager.html' #}
{% endblock %}



{% block content %}
{% include 'bookcovers/detail.html' %}

<BR/>
        {% for cover in cover_list %}
            {%  if cover.edition__pk != edition.pk %}
             <a href="{% url 'bookcovers:artwork_cover' cover.edition__pk %}">
                <IMG src="{% static view.artist.cover_filepath|add:'Thumbnails/'|add:cover.cover_filename %}"
                    alt="{{ cover.book__title }}"
                    title="{{ cover.book__title }}"/></a>
            {% else %}
              <IMG src="{% static view.artist.cover_filepath|add:'Thumbnails/'|add:cover.cover_filename %}"
                alt="{{ cover.book__title }}"
                title="{{ cover.book__title }}"/>
            {%  endif %}
        {% endfor %}
{% endblock %}



