{% extends "bookcovers/base.html" %}

{% load static %}

{% block menu_pagers %}
{% include 'bookcovers/first_author_pager.html' %}
{% include 'bookcovers/author_book_pager.html' %}
{% endblock %}
{% block content %}
    {% if cover_list|length > 1 %}
        <h2>{{ book.title }}</h2>
        {% for cover in cover_list %}
            {% if cover.artwork__artist__cover_filepath == "BookCovers/Images/Unknown/" %}
                {% with wauthor=cover.book__author__name|cut:" " %}
                    <a href="{% url 'bookcovers:book_edition' cover.edition__pk %}">
                            <IMG class="cover_list" src="{% static cover.artwork__artist__cover_filepath|add:wauthor|add:cover.cover_filename %}"
                                 alt="{{ cover.book__title }}"
                                 title="{{ cover.book__title }}"/></a>
                    </a>
                {% endwith %}
            {% else %}
                 <a href="{% url 'bookcovers:book_edition' cover.edition__pk %}">
                    <IMG class="cover_list" src="{% static cover.artwork__artist__cover_filepath|add:cover.cover_filename %}"
                        alt="{{ cover.book__title }}"
                        title="{{ cover.book__title }}"/></a>
           {% endif %}
        {% endfor %}
    {% else %}
        {% for cover in cover_list %}
            {% include 'bookcovers/book_cover_detail.html' %}
        {% endfor %}
    {% endif %}
{% endblock %}
{# TODO would be good to display for alt and title book and cover artist #}