<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <title>{% block title %}Science Fiction Cover Art{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bookcovers/style.css' %}">
    {% block content_script %}{% endblock %}
</head>

<body>
    {% include 'bookcovers/main_menu.html' %}
    <div id="sub_menus">
        {% block menu_pagers %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
