{% load bookcover_tags %}

<h3 class="detail_title">Book</h3>
<B>Author: </B><a href="{% url 'bookcovers:author_books' edition.book.author.author_id %}" title="Select author for all books by this author">{{ edition.book.author.name }}</a><BR/>
<B>Title: </B><a href="{% url 'bookcovers:books' edition.book.book_id %}" title="Select title for all covers for this book">{{ edition.book.title}}</a><BR/>
Copyright: {{ edition.book.copyright_year }}<BR/>
{%  if edition|hasprintrun %}
This edition: <A href="{% url 'bookcovers:print_history' edition.thePrintRun.print_run_id %}" title="Select date for print history">{{ edition.thePrintRun.print_year }}</A><BR/>
    <B>Price: </B>{{ edition.thePrintRun.cover_price }}<BR/>
    <!--<B>pages:</B> {{ edition.thePrintRun.num_pages }}-->
{% endif %}
