{% extends "bookcovers/base.html" %}

{% load static %}

{% block menu_pagers %}
{% include 'bookcovers/book_pager.html' %}
{% endblock %}
{% block content %}
    {% if cover_list|length > 1 %}
        <h2>{{ artwork.book.title }}</h2>
        {% for cover in cover_list %}
            <a href="{% url 'bookcovers:edition' cover.edition__pk %}">
                <IMG src="{% static cover.artwork__artist__cover_filepath|add:cover.cover_filename %}"
                    alt="{{ cover.book__title }}"
                    title="{{ cover.book__title }}"
                    height="250"/></a>
        {% endfor %}
    {% else %}
        {% for cover in cover_list %}
            {% include 'bookcovers/book_cover_detail.html' %}
        {% endfor %}
    {% endif %}
{% endblock %}