{% load static %}

<h2>{{ edition.book.title }}</h2>
<table><tr><td>
     <a href="{% url 'bookcovers:'|add:view.detail.list_view_name view.detail.object.pk %}">
    {% if edition.theCover.artwork.artist.cover_filepath == "BookCovers/Images/Unknown/" %}
        {% with wauthor=edition.book.author.name|cut:" " %}
            <IMG src="{% static edition.theCover.artwork.artist.cover_filepath|add:wauthor|add:'/'|add:edition.theCover.cover_filename %}"
                alt="{{ cover.book__title }}"
                title="{{ cover.book__title }}">
        {% endwith %}
    {% else %}
        <IMG src="{% static edition.theCover.artwork.artist.cover_filepath|add:edition.theCover.cover_filename %}"
            alt="{{ edition.book.title }}"
            title="{{ edition.book.title }}">
    {% endif %}
    </a>
</td><td>
    <B>Artwork</B><BR/><B>artist: </B><a href="{% url 'bookcovers:artist_artworks' edition.theCover.artwork.artist.artist_id %}" title="Select artist for all the covers for this artist">{{ edition.theCover.artwork.artist.name }}</a>
    <BR/><B>Year: </B>{{ edition.theCover.artwork.year }}<BR/><B>Are you sure? </B>{{ edition.theCover.artwork.confidence_level }}<BR/>
    <B>Evidence: </B>{{ edition.theCover.artwork.evidence }}<BR/><BR/><B>Book</B><BR/>
    <B>author: </B><a href="{% url 'bookcovers:author_books' edition.book.author.author_id %}" title="Select author for all books by this author">{{ edition.book.author.name }}</a><BR/>
    <B>title: </B><a href="{% url 'bookcovers:book_list' edition.book.book_id %}" title="Select title for all covers for this book">{{ edition.book.title}}</a><BR/>
    Copyright: {{ edition.book.copyright_year }}<BR/>
    This edition<A href="#"onClick="window.open('PrintHistory.php?bookID=7&bookEditionID=6&bookPrintRunID=7','printRun','width=540,height=400,scrollbars=yes,resizable=yes')">{{ edition.print_year }}</A><BR/><B>price:</B> UK Â£1.95<BR/><B>pages:</B> 485
</td></tr>
</table>
