<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <title>Science Fiction and Fantasy Cover Art</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bookcovers/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% block content_script %}{% endblock %}
</head>

<body>
    {% include 'bookcovers/main_menu.html' %}
</body>
</html>