<!-- bookcovers/templates/bookcovers/menu.html -->

  <nav class="navbar fixed-top navbar-expand navbar-light" style="background-color: #e0dfed;">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {{ view.artists }}">
              <a class="nav-link" href="{% url 'bookcovers:artists' %}">Artists</a>
           </li>
           <li class="nav-item {{ view.authors }}">
              <a class="nav-link" href="{% url 'bookcovers:authors' %}">Authors</a>
            </li>
           <li class="nav-item {{ view.panoramas }}">
               <a class="nav-link" href="{% url 'bookcovers:panoramas' %}">Panoramas</a>
            </li>
          </ul>
    </div>
  </nav>

{% comment tabs %}
<ul id="menu" class="nav nav-tabs">
<!--<TD><a href="{% url 'bookcovers:index' %}">Home</a></TD> -->
  <li class="nav-item" display:inline-block>
      <a class="nav-link {{ view.artists }}" href="{% url 'bookcovers:artists' %}">Artists</a></li>
  <li class="nav-item" display:inline-block>
      <a class="nav-link {{ view.authors }}" href="{% url 'bookcovers:authors' %}">Authors</a></li>
  <li class="nav-item" display:inline-block>
      <a class="nav-link {{ view.panoramas }}" href="{% url 'bookcovers:panoramas' %}">Panoramas</a></li>
</ul>
{% endcomment %}

{% comment %}
<table>
<TR>
<TD><a href="{% url 'bookcovers:artists' %}">Artists</a></TD>
<TD><a href="{% url 'bookcovers:authors' %}">Authors</a></TD>
<TD><a href="{% url 'bookcovers:panoramas' %}">Panoramas</a></TD>
</TR>
</table>
{% endcomment %}
