{# /bookcovers/print_history/7/ #}
{% extends "bookcovers/base.html" %}

{% load static %}
{% load bookcover_tags %}


{% block menu_pagers %}
{#  include 'bookcovers/subject_pager.html' #}
{% endblock %}
{% block content %}
    <h2 style="display:inline";>{{ view.book.title }}</h2>
    {#  <TABLE rules="rows"><TR><TD><B>Cover</B></TD><TD><B>Edition</B></TD><TD><B>Cover Price</B></TD></TR> #}
    <TABLE><TR><TD><B>Cover</B></TD><TD><B>Edition</B></TD><TD><B>Cover Price</B></TD></TR>

    {% for print in print_history %}
        {% ifchanged print.cover_filepath print.cover_filename %}
            <TR>
            <TD>
            {% if print.cover_filepath %}
                <IMG src="{% static print.cover_filepath|add:'Thumbnails/'|add:print.cover_filename %}"
                     alt="{{ print.book__title }}"
                     title="{{ print.book__title }}">
                </TD>
                <TD>{# edition #}
                    {% set "False" as break %}
                    {% comment %}
                    There is no true loop break so need to emulate it:
                    loop over all records starting at beginning
                    compare current loop counter with parent loop counter to identify current location
                    ignore earlier iterations until at same print/cover record as parent
                    ignore later iterations by testing value of variable break
                    {%  endcomment %}
                    {% for cover in print_history %}
                        {% if forloop.counter >= forloop.parentloop.counter %}
                            {% if break == "False" %}
                                {% ifchanged cover.cover_filepath cover.cover_filename %}
                                    {% if forloop.counter == forloop.parentloop.counter %}
                                        {{ cover.print|edition:cover.edition_id }}
                                        <BR>
                                    {% else %}
                                         {% set "True" as break %}
                                    {% endif %}
                                {% else %}
                                    {# cover_filename the same #}
                                    {{ cover.print|edition:cover.edition_id }}
                                    <BR>
                                {% endifchanged %}
                            {% endif %}
                            {# break by ignoring unwanted iterations #}
                        {% endif %}
                    {% endfor %}
                </TD>
                <TD>{# cover price #}
                    {% set "False" as break %}
                    {% for cover in print_history %}
                        {% if forloop.counter >= forloop.parentloop.counter %}
                            {% if break == "False" %}
                                {% ifchanged cover.cover_filepath cover.cover_filename %}
                                     {% if forloop.counter == forloop.parentloop.counter %}
                                        {{ cover.cover_price }}<BR>
                                    {% else %}
                                        {% set "True" as break %}
                                     {% endif %}
                                {%  else %}
                                    {% if cover.cover_price %}
                                        {{ cover.cover_price }}
                                    {% endif %}
                                    <BR>
                                {% endifchanged %}
                            {%  endif %}
                        {% endif %}
                        {# break by ignoring unwanted iterations #}
                    {% endfor %}
                </TD>
                </TR><TR></TR>
            {% else %}
                </TD></TD>
                <TD>{# edition #}{{ print.print|edition:print.edition_id }}</TD>
                <TD>{# cover price #}{% if print.cover_price %}{{ print.cover_price }}{% endif %}</TD>
                </TR><TR></TR>
            {% endif %}

        {% else %}
            {# ignore records with cover_filepath we looped over them above #}
            {% if not print.cover_filepath %}
                <TD></TD>
                <TD>{# edition #}{{ print.print|edition:print.edition_id }}</TD>
                <TD>{# cover price #}{% if print.cover_price %}{{ print.cover_price }}{% endif %}</TD>
                </TR><TR></TR>
            {% endif %}
        {% endifchanged %}
        {#  continue - here we have looped over all the records with the same cover #}


    {% endfor %}
    </TABLE>
{% endblock %}
