{% if view.set_pager.the_pager.paginator.num_pages > 1 %}
<div class="pagination">
<a href="{% url 'bookcovers:'|add:view.subject.set_view_name view.subject.object %}">all sets</a>
    <span class="step-links">
        {% if view.set_pager.the_pager.has_previous %}
            <a href="{% url 'bookcovers:'|add:view.detail.to_page_view_name view.set.pk %}?page=1">&laquo; first</a>
            <a href="{% url 'bookcovers:'|add:view.detail.to_page_view_name view.set.pk %}?page={{ view.set_pager.the_pager.previous_page_number }}">previous</a>
        {% else %}
            <p class="greyed" style="display:inline">&laquo; first previous</p>
        {% endif %}

        <span class="current">
            {{ view.set_pager.the_pager.number }} of {{ view.set_pager.the_pager.paginator.num_pages }}
        </span>

        {% if view.set_pager.the_pager.has_next %}
            <a href="{% url 'bookcovers:'|add:view.detail.to_page_view_name view.set.pk %}?page={{ view.set_pager.the_pager.next_page_number }}">next</a>
            <a href="{% url 'bookcovers:'|add:view.detail.to_page_view_name view.set.pk %}?page={{ view.set_pager.the_pager.paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <p class="greyed" style="display:inline">next last &raquo;</p>
        {% endif %}
    </span>
</div>
{% else %}
<a href="{% url 'bookcovers:'|add:view.subject.view_name view.subject.object.pk %}">View all {{ view.subject.title }}</a>
{% endif %}