{# Used to display book detail #}
{% extends "bookcovers/base.html" %}

{% block title %}{{ view.web_title }}{% endblock %}

{% block menu_pagers %}
{% include 'bookcovers/subject_pager.html' %}
{# include 'bookcovers/detail_pager.html' #}
<a href="{% url 'bookcovers:author_sets' view.author %}">all sets</a>    include set pager here
{% endblock %}

{% load static %}

{% block content %}
{% include 'bookcovers/detail.html' %}

<BR/>
{% if cover_list|length > 1 %}
{% for cover in cover_list %}
    {%  if cover.edition_id != edition.pk %}
            {% if cover.cover_filepath == "BookCovers/Images/Unknown/" %}
                {% with wauthor=author.name|cut:" " %}
                    <a class="thumbnail_link" href="{% url 'bookcovers:set_edition' cover.edition_id %}">
                            <IMG src="{% static cover.cover_filepath|add:'Thumbnails/'|add:wauthor|add:cover.cover_filename %}"
                                 alt="{{ cover.book_title }}"
                                 title="{{ cover.book_title }}"/></a>
                {% endwith %}
            {% else %}
                 <a class="thumbnail_link" href="{% url 'bookcovers:set_edition' cover.edition_id %}">
                    <IMG src="{% static cover.cover_filepath|add:'Thumbnails/'|add:cover.cover_filename %}"
                        alt="{{ cover.book_title }}"
                        title="{{ cover.book_title }}"/></a>
            {%  endif %}
    {% else %}
            {% if cover.cover_filepath == "BookCovers/Images/Unknown/" %}
                {% with wauthor=author.name|cut:" " %}
                    <IMG class="thumbnail" src="{% static cover.cover_filepath|add:'Thumbnails/'|add:wauthor|add:cover.cover_filename %}"
                                 alt="{{ cover.book_title }}"
                                 title="{{ cover.book_title }}"/>
                {% endwith %}
            {% else %}
                    <IMG class="thumbnail" src="{% static cover.cover_filepath|add:'Thumbnails/'|add:cover.cover_filename %}"
                        alt="{{ cover.book_title }}"
                        title="{{ cover.book_title }}"/>
            {%  endif %}
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}