<div class="pagination">
    <a href="{% url 'bookcovers:'|add:view.subject_list.view_name %}">{{ view.subject_list.name|title }}</a>
    <span class="step-links">

        {# comment the subject_identifer is needed to maintain the url pattern and page correctly at different levels #}
        {% if view.the_pager.subject_pager.has_previous %}
            <a href="{% url 'bookcovers:'|add:view.subject.view_name view.the_pager.subject_identifier %}?{{ view.the_pager.subject }}=1">&laquo; first</a>
            <a href="{% url 'bookcovers:'|add:view.subject.view_name view.the_pager.subject_identifier %}?{{ view.the_pager.subject }}={{ view.the_pager.subject_pager.previous_page_number }}">previous</a>
        {% else %}
            <p class="greyed" style="display:inline">&laquo; first previous</p>
        {% endif %}

        <span class="current">
            {{ view.the_pager.subject_pager.number }} of {{ view.the_pager.subject_pager.paginator.num_pages }}
        </span>

        {% if view.the_pager.subject_pager.has_next %}
            <a href="{% url 'bookcovers:'|add:view.subject.view_name view.the_pager.subject_identifier %}?{{ view.the_pager.subject }}={{ view.the_pager.subject_pager.next_page_number }}">next</a>
            <a href="{% url 'bookcovers:'|add:view.subject.view_name view.the_pager.subject_identifier %}?{{ view.the_pager.subject }}={{ view.the_pager.subject_pager.paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <p class="greyed" style="display:inline">next last &raquo;</p>
        {% endif %}


    </span>
</div>