<div class="pagination">
    {% block subject_menu %}{% endblock %}
    <span class="step-links">
        {% if subject_pager.has_previous %}
            <a href="?{{ meta_page.query_page }}=1">&laquo; first</a>
            <a href="?{{ meta_page.query_page }}={{ subject_pager.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {{ meta_page.subject_title }} {{ subject_pager.number }} of {{ subject_pager.paginator.num_pages }}.
        </span>

        {% if subject_pager.has_next %}
            <a href="?{{ meta_page.query_page }}={{ subject_pager.next_page_number }}">next</a>
            <a href="?{{ meta_page.query_page }}={{ subject_pager.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>