
/* we want paginators in line */
.pagination {
  border: 1px solid black;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 10px;
  padding-left: 5px;
  display: inline-block;
}

/* display multiple covers smaller than full size */
.cover_list
{
height:300px;
}

/* put greyed border around thumbnail that is not a link amongst links */
.thumbnail
{
  border: 1px solid #ddd;
  padding: 2px; /* Some padding */
}

/* add hover to thumbnail links */
.thumbnail_link img {
  border: 1px solid #ddd; /* Gray border */
  padding: 2px; /* Some padding */
}

/* Add a hover effect by shadowing border */
.thumbnail_link:hover img{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* flex and flex-column used to display artist and author lists in columns */
.row {
    display: flex;
}
.flex-column {
    flex: auto;
    padding: 10px;
}
ul {
  list-style: none;
}
p.greyed {
    color: rgb(180,180,180);
}
